@charset "utf-8";
/* CSS Document */


body {
	background-color: rgb(30, 52, 93);
}

p {
	width: 80;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(30, 52, 93);
	color: rgb(241, 242, 244);	
}

h1 {
	color: rgb(241, 242, 244);	
	font-size: 70px;
	text-align: center;
	display: block;
}
.CaptainsPhotos {
	display: block;
	margin: auto;
	width: 490px;
}

.FemalePhoto {
	padding-left: 70px;
	float: right;
}	
.MaleText {
	background-color: rgb(134, 116, 70);
	border: black solid 5px;
	width: 160px;
	display: inline-block;
	padding-right: 30px;
	padding-left: 10px;
}

.FemaleText {
	background-color: rgb(134, 116, 70);
	border: black solid 5px;
	width: 160px;
	padding-right: 30px;
	padding-left: 10px;
	float: right;
}
.CaptainsText {
	display: block;
	margin: auto;
	width: 490px;
}
.HouseCaptains {
	display: block;
	width: 930px;
	margin: auto;
}
.HouseCaptainsText {
	display: block;
	width: 930px;
	margin: auto;
}
.Siena {
	padding-left: 26px;
}
.Bosco {
	padding-left: 26px;
}
.Guzman {
	padding-left: 26px;
}
.SienaText {
	background-color: rgb(134, 116, 70);
	border: black solid 5px;
	width: 160px;
	padding-right: 30px;
	padding-left: 10px;
	display: inline-block;
}
.BoscoText {
	background-color: rgb(134, 116, 70);
	border: black solid 5px;
	width: 160px;	
	padding-right: 30px;
	padding-left: 10px;
	display: inline-block;
}
.GuzmanText {
	background-color: rgb(134, 116, 70);
	border: black solid 5px;
	width: 160px;
	padding-right: 30px;
	padding-left: 10px;
	display: inline-block;
}
.SavioText {
	background-color: rgb(134, 116, 70);
	border: black solid 5px;
	width: 160px;
	padding-right: 30px;
	padding-left: 10px;
	display: inline-block;	
}
.spacer {
	padding-left: 26px;
	display: inline-block;
}