@charset "utf-8";
/* CSS Document */

img {
	width: 210px;
}

{
	color: rgb(241, 242, 244);
	background-color: rgb(30, 52, 93);
}

body {
	background-color: rgb(30, 52, 93);
}
.HosueMO {
	width: 930px;
}

.CaptainsMO {
	width: 
}
p {
	margin: auto;
	background-color: rgb(30, 52, 93);
	color: rgb(241, 242, 244);
	display: block;
	padding-bottom: 40px;
}

h1 {
	color: rgb(241, 242, 244);	
	font-size: 70px;
	text-align: center;
	display: block;
}
.CaptainsPhotos {
	display: block;
	margin: auto;
	width: 490px;
}

.FemalePhoto {
	padding-left: 70px;
	float: right;
}	
h4 {
	background-color: rgb(134, 116, 70);
	border: black solid 2px;
	width: 160px;
	display: inline-block;
	padding-right: 33px;
	padding-left: 13px;
}

.CaptainsText {
	display: block;
	margin: auto;
	width: 490px;
}
.HouseCaptains {
	display: block;
	width: 930px;
	margin: auto;
}
.HouseCaptainsText {
	display: block;
	width: 930px;
	margin: auto;
}
.Siena {
	padding-left: 26px;
}
.Bosco {
	padding-left: 26px;
}
.Guzman {
	padding-left: 26px;
}

.spacer {
	padding-left: 26px;
	display: inline-block;
}
.FemaleText {
	float: right;
}