@charset "utf-8";
/* CSS Document */

@import url(https://use.typekit.net/efj7gzu.css);

img {
	width: 210px;
}
a {
	display: inline-block;
	color: rgb(162,134,61)
}
.Links {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
}
body {
	background-color: rgb(30, 52, 93);
}
.HouseMO {
	width: 930px;
	display: block;
	margin-left: auto;
	margin-right: auto;		
}
.CaptainsMO {
	width: 930px;
}

.MainFull {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.Mainpg {
	font-size: 50px;
}
.Captains{
	width: 500px;
}
.mpBlock1 {
	width: 500px;
	display: inline-block;
}
.mpBlock2{
	width: 400px;
	display: inline-block;
	float: right;
	padding-left: 100px;
}
p {
	margin: auto;
	background-color: rgb(30, 52, 93);
	color: rgb(241, 242, 244);
	display: block;
	padding-bottom: 40px;
}

h1 {
	color: rgb(241, 242, 244);	
	font-size: 70px;
	text-align: center;
	display: block;
	font-family: Trajan-pro-3, serif;
}
.CaptainsPhotos {
	display: block;
	margin: auto;
	width: 490px;
}

.FemalePhoto {
	padding-left: 70px;
	float: right;
}	
h4 {
	background-color: rgb(134, 116, 70);
	border: black solid 2px;
	width: 160px;
	display: inline-block;
	padding-right: 33px;
	padding-left: 13px;
}

.CaptainsText {
	display: block;
	margin: auto;
	width: 490px;
}
.HouseCaptains {
	display: block;
	width: 930px;
	margin: auto;
}
.HouseCaptainsText {
	display: block;
	width: 930px;
	margin: auto;
}
.Siena {
	padding-left: 26px;
}
.Bosco {
	padding-left: 26px;
}
.Guzman {
	padding-left: 26px;
}

.spacer {
	padding-left: 26px;
	display: inline-block;
}
.FemaleText {
	float: right;
}